:root{
  --priv-talk-font-color: ;
  --priv-talk-font-size: ;
  --priv-talk-margin-left: ;
  --priv-talk-bg-brightness: ;
  --sch-cus-chat-font-size: 14px;
}

li.chat-message.message.flexcol.priv_talk {
  border: none;
  overflow: hidden;
  margin-left: var(--priv-talk-margin-left);
  padding: 5px;
  position: relative;
}

li.chat-message.message.flexcol.priv_talk::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity:var(--priv-talk-bg-brightness);
  pointer-events: none;
  z-index: 0;
}

li.chat-message.message.flexcol.priv_talk > * {
  position: relative;
  z-index: 1;
}
li.chat-message.message.flexcol.priv_talk > div.message-content>:not(div.pt) {
  display:none;
}

li.chat-message.message.flexcol > div.message-content {
  font-size: var(--sch-cus-chat-font-size);
}


li.chat-message.message.flexcol.priv_talk > div.message-content {
  color: var(--priv-talk-font-color);
  font-size: var(--priv-talk-font-size);
}

.priv_user {
  font-weight: bold;
}

.priv_talk.line-change .message-content {
  display: grid;
  grid-template-columns: 2fr 5fr;
}

li.chat-message.message.flexcol.priv_talk.top {
  margin-bottom: 0;
  border-radius: 5px 5px 0 0;
}

li.chat-message.message.flexcol.priv_talk.middle {
  margin-bottom: 0;
  margin-top: 0;
  border-radius: 0;
}

li.chat-message.message.flexcol.priv_talk.end {
  margin-top: 0;
  border-radius: 0 0 5px 5px;
}


